a {
  text-decoration: none;
  color: #333;
}
img {
  vertical-align: top;
  border: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* * {outline: 1px solid orange;} */

body {
  font-size: 14px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#wrap {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* header */
header {
  padding: 16px 0;
}
header nav {
  display: flex;
  justify-content: end;
  gap: 20px;
  .menu-all {
    margin-inline: 20px;
  }
}
header nav a:hover {
  text-decoration: underline;
}

/* main */
main {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.logo {
  display: block;
  margin-inline: auto;
}

.search-bar {
  margin-bottom: 36px;
  /* position: relative; */
}

.search-icon {
  position: relative;
  left: 50px;
  font-size: 16px;
  color: #e3e3e3;
}

.search-bar .input-box {
  width: 584px;
  min-height: 44px;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
  &:hover {
    box-shadow: 0px 0px 1px 1px #cecece;
  }
  &:focus {
    outline: 0;
    box-shadow: 0px 0px 1px 1px #cecece;
  }
}

.search-bar button {
  border: 0;
  background-color: #fff;
}
.mic,
.camera {
  cursor: pointer;
  position: relative;
  font-size: 20px;
  color: rgb(117, 117, 244);
}
.mic {
  right: 90px;
}
.camera {
  right: 80px;
}

.btn-box > button {
  background-color: #eee;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  &:hover {
    /* outline: 1px solid #000; */
    box-shadow: 0px 0px 1px 1px #cecece;
  }
}
.btn-box .google-search {
  margin-right: 16px;
}

.language a {
  color: blue;
  &:hover {
    text-decoration: underline;
  }
}

/* footer */
footer {
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.f-top {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
}

.f-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  @media (max-width: 1200px) {
    justify-content: space-evenly;
  }
}

.f-bottom ul li a {
  display: block;
  padding: 15px;
  white-space: nowrap;
  &:hover {
    text-decoration: underline;
  }
}

.f-left-menu {
  display: flex;
}

.f-right-menu {
  display: flex;
}

.f-right-menu button {
  background-color: transparent;
  border: 0;
  display: block;
  padding: 15px;
  cursor: pointer;
  font-size: 14px;
  &:hover {
    text-decoration: underline;
  }
}
